/* =========
Body Fonts
============ */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Open+Sans:wght@300;400;500;600;700&family=Roboto:wght@700&display=swap');

/* ==========
Header Area
============= */
header {
    height: 100px;
}

.main-manu ul li {
    display: inline-block;
    padding: 10px;
}

.main-manu ul li a {
    color: #404f54;
    text-transform: uppercase;
    transition: 0.3s;
}

.main-manu ul li a:hover {
    color: #1baba1
}

.header-right {
    display: flex;
    justify-content: end;
}

.header-right ul li {
    display: inline-block;
    padding-left: 10px;
}

.header-right ul li a {
    color: #404f54;
    text-transform: uppercase;
    font-size: 14px;
}

.header-right ul li a.b-btn {
    color: #b9bdde;
    font-size: 16px;
}

.header-right ul li a.b-btn:hover {
    color: #404f54;
}

/* ==========
Banner Area
============= */
section.banner-area {
    background-size: cover;
    height: 100vh;
    background-position: center;
}

.banner-text h1 {
    font-size: 52px;
    color: #404f54;
    text-transform: capitalize;
}

.banner-text p {
    color: #404f54;
    font-size: 21px;
    text-transform: capitalize;
}

section.banner-area .banner-form {
    position: relative;
}

.banner-form input[type="text"] {
    width: 730px;
    outline: none;
    border-radius: 30px;
    border: none;
    padding: 25px 55px;
    box-shadow: 0px 5px 10px 0px rgba(0, 20, 26, 0.302);
}

.banner-form input[type="text"]::placeholder {
    color: #9ea4a6;
    font-size: 16px;
}

.banner-form button.btn {
    position: absolute;
    right: 290px;
    top: 7px;
}

/* =============
Feature Area
================ */
section.feature-area {
    height: 280px;
}

.feature-title h4 {
    font-size: 26px;
}

.feature-item h4 {
    color: #1baba1;
    font-size: 21px;
}

/* ============
Content Area
=============== */
.content-about {
    background-color: #f4fafa;
    /* height: 430px; */
}

.content-bg img {
    width: 100%;
}

.content-text a {
    color: #1baba1;
    font-weight: 700;
    transition: 0.5s;
    display: inline-block;
}

/* =============
Get Start Area
================ */
.get-item {
    padding: 40px;
    transition: 0.3s;
}

.get-item:hover {
    box-shadow: 0 0 10px 0 rgba(0, 22, 27, 0.1);
}

.get-start .get-item h4 {
    text-transform: capitalize;
}

/* ========
Work Area
=========== */
.work-item h4 {
    border-top: 2px solid #d02184;
    display: inline-block;
}

/* ==============
Subscribe Area
================= */
.price-area {
    transition: 0.3s;
}

.price-head {
    padding: 50px;
    transition: 0.3s;
}

.price-head h6 {
    font-size: 18px;
}

.price-head p {
    font-size: 14px;
}

.price-area span {
    font-size: 18px;
}

.price-head span span.price {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 56px;
}

.price-body ul li {
    padding-bottom: 40px;
    transition: 0.3s;
}

.price-body ul li a {
    font-size: 18px;
    color: #252525;
}

.price-area:hover .price-head {
    background-color: #d02184;
    color: #fff;
}

.price-area:hover .price-head h6 {
    color: #fff;
}

.price-area:hover .price-head p {
    color: #fff;
}

.price-area:hover .price-body ul li {
    text-decoration: underline;
}

.price-area:hover {
    box-shadow: 0 5px 50px 0 rgba(115, 115, 115, 0.15);
}

/* ================
Testimonials Area
=================== */
.single-testimonia {
    position: relative;
}

.single-testimonia .testimonia-img {
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;

}

.testimonia-text {
    padding: 65px 30px 30px;
    transition: 0.3s;
}

span.name {
    font-weight: bold;
    text-transform: capitalize;
    color: #1baba1;
    display: inline-block;
}

.single-testimonia:hover .testimonia-text {
    background-color: #1baba1;
}

.single-testimonia:hover .testimonia-text span.name {
    color: #fff;
}

/* ==========
Footer Area
============= */
footer .footer-top .about .social p {
    font-size: 15px;
    display: inline-block;
}


footer .footer-top .about .social ul {
    display: inline-block;
}

footer .footer-top .about .social ul li {
    display: inline-block;
}

footer .footer-top .about .social ul li a {
    color: #1baba1;
    padding-left: 15px;
}

footer .footer-top .about input[type="email"] {
    padding: 15px 10px;
    width: 230px;
    border: 1px solid #9ea4a6;
    text-transform: capitalize;
    display: inline-block;
}

footer .footer-top .about input[type="email"]::placeholder {
    font-size: 15px;
    color: #9ea4a6;
}

footer .footer-top .about button {
    border-radius: 0px;
    width: 230px;
    display: inline-block;
}

footer .blog h6 {
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

footer .blog .blog-img {
    float: left;
    margin-right: 20px;
}

footer .blog .blog-text p {
    text-transform: uppercase;

}

footer .blog .blog-text span {
    color: #d02184;

}

footer .instagram h6 {
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

footer .instagram img {
    width: 100%;
    margin-bottom: -5px;
}

footer .footer-bottom p {
    color: #1baba1;
}

footer .footer-bottom p span {
    font-size: 13px;
}

footer .footer-bottom p span a {
    color: #1baba1;
    transition: 0.3s;
}

footer .footer-bottom p span a:hover {
    text-decoration: underline;
}